@charset "UTF-8";

/* top */
.top {
  background-image: url(../img/top-fv.jpg);
  background-size: cover;
  background-position: center;
}

.top-wrap {
  position: relative;
  height: 100vh;
  margin: 0 auto;
}


/* テキスト折り返し */
.__sp {
  display: none;
}

.__tab {
  display: none;
}

/* news */
.news {
  padding: 2.5rem 0;
}

.news-wrap {
  max-width: 700px;
  margin: 0 auto;
  width: 95%;
}

.news-wrap__ttl {
  text-align: center;
}

.news-wrap__con__list__item {
  display: flex;
  border-bottom: solid 1px #9f9f9f;
  margin-bottom: 1.5%;
  padding-bottom: 1.5%;
  font-size: clamp(1rem, 0.779rem + 0.74vw, 1.25rem);
}

.news-wrap__con__list__item span {
  margin-right: 10%;
}

.news-wrap__btn {
  text-align: center;
}

/* btn */

.btn a {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 700;
  background-color: #f4b272;
  border: solid 1px #f4b272;
  display: inline-block;
  padding: 0.62rem 1.25rem;
  border-radius: 50px;
  margin-top: 2.5rem;
  transition: all 0.3s ease-in;
}

.btn a:hover {
  transform: scale(1.05);
  background-color: #fff;
  color: #f4b272;
  border: solid 1px #f4b272;
}

/* about */
.about {
  padding: 2.5rem 0;
  margin: 0 auto;
  background-image: url(../img/top-bg.jpg);
  background-size: cover;
  background-position: center;
  /* background-color: #dcdcdc; */
}

.about-wrap {
  max-width: 800px;
  margin: 0 auto;
}

.about-wrap__ttl {
  text-align: center;
}

.f-ttl {
  text-align: center;
  font-size: clamp(1rem, 0.449rem + 1.84vw, 1.625rem);
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    2px 2px 0 #fff;
  margin-bottom: 2.5rem;
}

.philosophy-txt {
  text-align: center;
  font-size: clamp(1rem, 0.779rem + 0.74vw, 1.25rem);
}

.philosophy-btn {
  text-align: center;
}

.message {
  background-image: url(../img/top-leaf.jpg);
  background-size: cover;
  background-position: center;
  padding: 2.5rem 1.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.message-wrap__con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-wrap__left {
  width: 48%;
}

.message-wrap__left__txt {
  font-size: clamp(1rem, 0.89rem + 0.37vw, 1.125rem);
}

.message-wrap__left__name {
  text-align: right;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.message-wrap__left__name {
  font-size: clamp(1.25rem, 0.809rem + 1.47vw, 1.75rem);
  font-weight: 700;
}

.message-wrap__left__name span {
  font-size: clamp(1rem, 0.779rem + 0.74vw, 1.25rem);
  margin-right: 0.62rem;
  font-weight: 700;
}

.message-wrap__right {
  width: 48%;
  aspect-ratio: 4 / 3;
  border: solid 10px #fff;
}

.message-btn {
  text-align: center;
}

.info-txt {
  text-align: center;
  font-size: clamp(1rem, 0.779rem + 0.74vw, 1.25rem);
}

.info-btn {
  text-align: center;
}

.service {
  padding: 2.5rem;
}

.service-wrap {
  max-width: 800px;
  margin: 0 auto;
}

.service-wrap__ttl {
  text-align: center;
}

.service-wrap__ttl__sub {
  text-align: center;
  font-size: clamp(1.125rem, 0.684rem + 1.47vw, 1.625rem);
  font-weight: 500;
}

.service-wrap__ttl__sub span {
  background-image: linear-gradient(
    transparent 70%,
    rgba(136, 176, 75, 0.5) 70%
  );
}

.service-wrap__con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 5%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.service-wrap__con__item {
  position: relative;
}

.service-wrap__con__item__image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.service-wrap__con__item__txt {
  position: absolute;
  font-size: 1.25rem;
  font-weight: 700;
  color: #88b04b;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  top: -20px;
  left: 20px;
}

.service-btn {
  text-align: center;
}

.works {
  padding: 2.5rem 0.62rem;
  background-color: #D4BFA6;
}

.works-wrap {
  max-width: 800px;
  margin: 0 auto;
}

.works-wrap__ttl {
  text-align: center;
}

.works-wrap__con1,
.works-wrap__con2 {
  display: grid;
  /* template-columns と column-gap を合計して100%になるようにする */
  grid-template-columns: repeat(auto-fit, 22%);
  /* row-gap: 24px;
  column-gap: 4%; */
  gap: 4%;
  justify-content: center;
  
}

.works-wrap__con1 {
  margin-bottom: 4%;
}

.works-wrap__con__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* 枠いっぱいに表示 */
  display: block;
  aspect-ratio: 4 / 3;
} 

.works-btn {
  text-align: center;
}

/* .works-wrap__con1 {
  display: flex;
  justify-content: space-between;
}

.works-wrap__con2 {
  display: flex;
  justify-content: center;
}

.works-wrap__con__item {
  width: 30%;
} */

.contact {
  max-width: 700px;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.contact-wrap__ttl {
  text-align: center;
}

.contact-wrap__txt {
  margin-bottom: 2.5rem;
  padding-left: 0.62rem;
  padding-right: 0.62rem;
}

.contact-wrap__txt p span {
  color: #ff0000;
}

.contact-wrap__form__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  padding-left: 0.62rem;
  padding-right: 0.62rem;
}

.contact-wrap__form__box:last-of-type {
  margin-bottom: 0;
}

.contact-wrap__form__box__ttl {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.contact-wrap__form__box__ttl span {
  color: #ff0000;
  margin-left: 1.25rem;
}

.contact-wrap__form__box select {
  border: none;
  background-color: #f9f5f0;
  border-bottom: dotted 1px #9f9f9f;
  padding-bottom: 1.25rem;
  color: #909090;
}

.contact-wrap__form__box input {
  border: none;
  background-color: #f9f5f0;
  border-bottom: dotted 1px #9f9f9f;
  padding-bottom: 1.25rem;
  color: #909090;
  line-height: 1.25rem;
}

.contact-wrap__form__box textarea {
  border: none;
  height: 200px;
  padding-top: 0.62rem;
  padding-left: 0.62rem;
}

.contact-btn {
  text-align: center;
  
}

.contact-btn button {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #88b04b;
  border: none;
  color: #fff;
  padding: 0.63rem 1.87rem;
  border-radius: 50px;
  margin-top: 2.5rem;
}












@media screen and (max-width: 768px) {
  .__tab {
    display: block;
  }

  .works-wrap__con1,
.works-wrap__con2 {
  grid-template-columns: 1fr;
}

.works-wrap__con1 {
  margin-bottom: 4%;
}

}









@media screen and (max-width: 480px) {
  .__sp {
    display: block;
  }

  .news-wrap__con__list__item span {
    margin-right: 3%;
  }

  .message-wrap__con {
    flex-direction: column;
  }

  .message-wrap__left {
    width: 90%;
  }

  .message-wrap__right {
    width: 90%;
    margin-top: 1.25rem;
  }

  .service-wrap__con {
    grid-template-columns: 1fr;
  }


}
